@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@500&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header {
  padding: 2em;
  min-height: 100vh;
  background: url(../images/teste.jpg) center no-repeat fixed;
  background-size: cover;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
}
header::before {
  content: "";
  background: radial-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 1));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header > div {
  position: relative;
}
header h1 {
  font-size: 4em;
  margin: 0.2em 0 0.5em 0;
}
header p {
  letter-spacing: 1em;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: sans-serif;
}
.btn {
  font-family: sans-serif;
  display: inline-block;
  margin: 0 1em;
  padding: 0.8em 1.8em;
  position: relative;
  color: #0f0;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;
}
.btn:hover {
  color: #417400;
  background: #0f0;
  box-shadow: 0 0 1px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;
  border-radius: 20px;
}

.desc-luffy,
.desc-zoro,
.desc-usopp,
.desc-sanji,
.desc-nami,
.desc-chopper,
.desc-robin,
.desc-franky,
.desc-brook,
.desc-jinbe {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 40px auto;
}
.luffyimg {
  max-width: 750px;
  height: auto;
}
.usoppimg {
  width: 1500px;
  height: auto;
}
.sanjiimg {
  width: 900px;
  height: auto;
}
.namiimg {
  width: 900px;
  height: auto;
}
.chopperimg {
  width: 900px;
  height: auto;
}
.nicoimg {
  width: 900px;
  height: auto;
}
.frankyimg {
  width: 1800px;
  height: auto;
}
.brookimg {
  width: 900px;
  height: auto;
}
.jinbeimg {
  width: 900px;
  height: auto;
}
.content-desc-luffy,
.content-desc-zoro,
.content-desc-usopp,
.content-desc-sanji,
.content-desc-nami,
.content-desc-chopper,
.content-desc-robin,
.content-desc-franky,
.content-desc-brook,
.content-desc-jinbe {
  width: 50%;
  height: 70%;
}
.content-img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-img-usopp {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-sanji-img {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-img-nami {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-chopper-img {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-img-nico {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-img-franky {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-img-jimbe {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-desc-luffy h1 {
  font-size: 54px;
  color: #c22939;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-luffy h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #2e0308;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-luffy p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.container {
  background-color: #fff;
  border-radius: 25px;
  border: solid 1px black;
  text-align: center;
}
.skills {
  padding: 10px 0;
  color: white;
}
.skills-luffy-fight {
  width: 80%;
  background-color: #c22939;
}
.skills-luffy-QI {
  width: 75%;
  background-color: #c22939;
}
.skills-luffy-Fruit {
  width: 95%;
  background-color: #c22939;
}
.ult-luffy,
.ult-zoro,
.ult-usopp,
.ult-nami,
.ult-chopper,
.ult-robin,
.ult-franky,
.ult-brook,
.ult-jinbe {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  gap: 15px;
}
.ult-sanji {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33% 60%;
  align-items: center;
  gap: 15px;
}
.ult-nami {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33% 60%;
  align-items: center;
  gap: 15px;
}
.ult-chopper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33% 60%;
  align-items: center;
  gap: 15px;
}
.ult-robin {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33% 60%;
  align-items: center;
  gap: 15px;
}
.ult-franky {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 32% 60%;
  align-items: center;
  gap: 15px;
}
.ult-brook {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33% 60%;
  align-items: center;
  gap: 15px;
}
.ult-jinbe {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 32% 60%;
  align-items: center;
  gap: 15px;
}
.ult-luffy img,
.ult-usopp img,
.ult-sanji img,
.ult-nami img,
.ult-chopper img,
.ult-robin img,
.ult-franky img,
.ult-brook img,
.ult-jinbe img {
  width: 240px;
}
.desc-ult-luffy h3 {
  color: #c22939;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-luffy p {
  width: 100%;
  margin: 0;
}
.content-zoro-img img {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-sanji-img img {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-chopper-img img {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-desc-zoro h1 {
  color: #9edb52;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-zoro h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #7daf41;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-zoro p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-zoro-fight {
  width: 80%;
  background-color: #9edb52;
}
.skills-zoro-QI {
  width: 65%;
  background-color: #9edb52;
}
.skills-zoro-Swords {
  width: 90%;
  background-color: #9edb52;
}
.desc-ult-zoro h3 {
  font-family: "Roboto", sans-serif;
  color: #9edb52;
  letter-spacing: 8px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-zoro p {
  width: 100%;
  margin: 0;
}
.ult-zoro img {
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-zoro {
  width: 100%;
  background: url(../images/zoroback.jpg) center center no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}
.content-desc-usopp h1 {
  color: #ff5900;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-usopp h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #b33e00;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-usopp p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-usopp-fight {
  width: 5%;
  background-color: #ce4800;
}
.skills-usopp-QI {
  width: 75%;
  background-color: #ce4800;
}
.skills-usopp-Gun {
  width: 95%;
  background-color: #ce4800;
}
.ult-usopp img {
  width: 225px;
}
.desc-ult-usopp h3 {
  color: #ce4800;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-sanji h1 {
  color: #ebcb4c;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-sanji h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #ecb940;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-sanji p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-sanji-fight {
  width: 80%;
  background-color: #ebcb4c;
}
.skills-sanji-QI {
  width: 65%;
  background-color: #ebcb4c;
}
.skills-sanji-Foods {
  width: 100%;
  background-color: #ebcb4c;
}
.desc-ult-sanji h3 {
  color: #ebcb4c;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 25px;
  text-align: center;
}
.desc-ult-sanji p {
  width: 100%;
  margin: 0;
}
.bg-sanji {
  width: 100%;
  background-image: linear-gradient(to bottom left, #000, rgb(29, 28, 28));
  background-size: cover;
  background-attachment: fixed;
}
.content-desc-chopper h1 {
  color: #f5ebf6;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-chopper h2 {
  font-size: 25px;
  color: #ebe1fa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-chopper p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-chopper-fight {
  width: 80%;
  background-color: #dc92f5;
}
.skills-chopper-QI {
  width: 65%;
  background-color: #dc92f5;
}
.skills-chopper-Support {
  width: 100%;
  background-color: #dc92f5;
}
.desc-ult-chopper h3 {
  color: #fff;
  letter-spacing: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-chopper p {
  width: 100%;
  margin: 0;
}
.bg-chopper {
  width: 100%;
  background: url(../images/chopper\ back.jpg) center center no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}
.content-desc-nami h1 {
  color: #ff9100;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-nami h2 {
  font-size: 25px;
  color: #be6c01;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-nami p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-nami-fight {
  width: 20%;
  background-color: #ff9100;
}
.skills-nami-QI {
  width: 50%;
  background-color: #ff9100;
}
.skills-nami-Gun {
  width: 80%;
  background-color: #ff9100;
}
.desc-ult-nami h3 {
  color: #ff9100;
  letter-spacing: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-nami p {
  width: 100%;
  margin: 0;
}
.content-desc-robin h1 {
  color: #ecb4c1;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-robin h2 {
  font-size: 25px;
  color: #ac828c;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-robin p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-robin-fight {
  width: 40%;
  background-color: #ecb4c1;
}
.skills-robin-QI {
  width: 100%;
  background-color: #ecb4c1;
}
.skills-robin-Gun {
  width: 75%;
  background-color: #ecb4c1;
}
.desc-ult-robin h3 {
  color: #ecb4c1;
  letter-spacing: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-robin p {
  width: 100%;
  margin: 0;
}
.bg-franky {
  width: 100%;
  background: url(../images/JIMBEI\ BACK.jpg) center center no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}
.content-desc-brook h1 {
  color: #3f4191;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-brook h2 {
  font-size: 25px;
  color: #23244f;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-brook p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-brook-fight {
  width: 45%;
  background-color: #3f4191;
}
.skills-brook-QI {
  width: 40%;
  background-color: #3f4191;
}
.skills-brook-Sword {
  width: 50%;
  background-color: #3f4191;
}
.desc-ult-brook h3 {
  color: #3f4191;
  letter-spacing: 8px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-brook p {
  width: 100%;
  margin: 0;
}
.content-desc-franky h1 {
  color: #00eeff;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-franky h2 {
  font-size: 25px;
  color: #00c8d6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-franky p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-franky-fight {
  width: 80%;
  background-color: #00eeff;
}
.skills-franky-QI {
  width: 65%;
  background-color: #00eeff;
}
.skills-franky-Build {
  width: 100%;
  background-color: #00eeff;
}
.desc-ult-franky h3 {
  color: #00eeff;
  letter-spacing: 8px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-franky p {
  width: 100%;
  margin: 0;
}

.content-desc-jinbe h1 {
  color: #00eeff;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}
.content-desc-jinbe h2 {
  font-size: 25px;
  color: #00c8d6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}
.content-desc-jinbe p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 31.5px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.skills-jinbe-fight {
  width: 80%;
  background-color: #00eeff;
}
.skills-jinbe-QI {
  width: 65%;
  background-color: #00eeff;
}
.skills-jinbe-Strong {
  width: 80%;
  background-color: #00eeff;
}
.desc-ult-jinbe h3 {
  color: #00eeff;
  letter-spacing: 8px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.desc-ult-jinbe p {
  width: 100%;
  margin: 0;
}
.bg-jimbei {
  width: 100%;
  background: url(../images/jinbei\ backss.jpg) center center no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}
footer {
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 17px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.7rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}
.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
